body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.site-name {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
}

h1, h2 {
    font-size: 1.5rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #005bb5;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: #666;
    margin-top: 20px;
}

nav{
    justify-content: center;
    overflow: hidden;
    border-width: 1px;
    border-top-color:grey;
    /* border-top-style: solid; */
    border-bottom-style: solid;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

nav li{
    height: max-content;
    min-height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    float: left;
}

nav li a {
    color: black;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size:medium;
}

nav li a:hover{
    color: white;
    background-color: #666;
}

nav li img{
    vertical-align: middle;
    height:30px;
    width: 30px;
}

nav li a:hover img{
    filter: invert(100%) !important;
}